body {
    margin: 0;
    font-family:
    "Hiragino Maru Gothic ProN",
    "Hiragino Sans",
    "Noto Sans JP",
    "Yu Gothic",
    "Meiryo",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
    background: #fff;
    color: #333;
  }
  
  .hero {
    text-align: center;
    padding: 80px 20px;
    background: #fff0f5;
  }

  h2 {
    all: unset;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
  }
  
  .section {
    padding: 40px 20px;
  }
  
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .horizontal-scroll {
    display: flex;
    gap: 16px;
    overflow-x: auto;
  }
  
  .card {
    min-width: 220px;
    background: #fff;
    border-radius: 12px;
    padding: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  }
  
  .card img {
    width: 100%;
    border-radius: 10px;
  }

  .card p {
    margin: 4px 0;
    line-height: 1.3;
  }

  
  .news-list {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    background: #fff;
  }
  
  .faq-q {
    width: 100%;
    background: #ffe4ec;
    border: none;
    padding: 12px;
    text-align: left;
    margin-top: 8px;
    cursor: pointer;
  }
  
  .faq-a {
    display: none;
    padding: 12px;
  }
  
  .faq-a.open {
    display: block;
  }
  
  footer {
    background-color: #f7f5f2;
    padding: 20px;
    font-size: 12px;
  }

  .page-header {
    text-align: center;
    padding: 40px 20px;
    background: #fff0f5;
  }
  
  .cats-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  /* PC */
  @media (min-width: 768px) {
    .cats-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  .cat-item {
    background: #fff;
    border-radius: 14px;
    padding: 16px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.06);
    cursor: pointer;
  }
  
  .cat-item img {
    width: 100%;
    border-radius: 12px;
  }
  
  .status {
    font-weight: bold;
    margin-top: 8px;
  }

  .cat-detail img {
    width: 100%;
    border-radius: 14px;
    margin-bottom: 12px;
  }
  
  .image-row {
    display: flex;
    gap: 10px;
    overflow-x: auto;
  }
  
  .detail-box {
    margin-top: 20px;
    line-height: 1.8;
  }
  
  .line-btn {
    display: block;
    margin-top: 30px;
    padding: 14px;
    text-align: center;
    background: #ffd1e3;
    border-radius: 30px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }

  a {
    color: #666;
    text-decoration: underline;
    font-size: 1.05em;
    margin-right: 12px;
  }

  a:hover {
    color: #333;
  }
